@model NewPassword
@{
    ViewData["Title"] = "Редактирование пароля";
}

<div class="d-flex justify-content-center">
    <form method="post" asp-action="EditPassword" class="card border-secondary mt-5 w-50">
        <div class="card-header d-flex justify-content-between align-items-center">
            <p class="m-0">Редактирование пароля</p>
            <a class="btn btn-outline-secondary" asp-controller="User" asp-action="Profile"><i class="bi bi-box-arrow-left"></i></a>
        </div>

        <div class="card-body">
            <div class="form-group">
                <div class="mt-2">
                    <label asp-for="currentPassword" class="form-label"></label>
                    <input asp-for="currentPassword" type="password" class="form-control" placeholder="Введите текущий пароль">
                    <span class="text-danger" style="font-size: 14px;" asp-validation-for="currentPassword"></span>
                </div>

                <div class="mt-2">
                    <label asp-for="passwordOf" class="form-label"></label>
                    <input asp-for="passwordOf" type="password" class="form-control" placeholder="Введите новый пароль">
                    <span class="text-danger" style="font-size: 14px;" asp-validation-for="passwordOf"></span>
                </div>

                <div class="mt-2 mb-4">
                    <label asp-for="passwordСonfirm" class="form-label"></label>
                    <input asp-for="passwordСonfirm" type="password" class="form-control" placeholder="Повторно введите пароль">
                    <span class="text-danger" style="font-size: 14px;" asp-validation-for="passwordСonfirm"></span>
                </div>

                <div class="modal-footer mt-2">
                    <button type="submit" class="btn btn-primary">Обновить пароль</button>
                </div>
            </div>
        </div>
    </form>
</div>