
@{
    ViewData["Title"] = "О клубе";
}

<h1 class="text-center m-5">О клубе</h1>

<div class="px-4">
    <div class="d-flex justify-content-center">
        <img style="width: 90%" src="../images/BGC.png" alt="" />
    </div>

    <div class="pt-4">
        <p class="textJustify" style="text-indent:30px;">Сейчас в нашей коллекции 6+ игр разных жанров, сложности и тематики. Каждый месяц коллекция вырастает в среднем на 10-20 игр. Также наш ассортимент постоянно пополняется эксклюзивными играми, которые либо уже сняты с производства, либо просто не продаются в СНГ. Коллекция клуба регулярно пополняется всеми новинками, которые выпускают все русскоязычные издатели. Мы закупаем множество самых интересных игр на Кикстартере. Более того, специально для вас мы их еще и постепенно переводим на русский язык. Так что у вас есть возможность сыграть в мировые хиты и не только, даже если вы не знаете английского языка.</p>
        <br />
        <br />
        <h3>Как мы работаем и как до нас добраться?</h3>
        <br />
        <h2 class="text-primary">пр. Независемости 34</h2>
        <p>адрес</p>
    </div>

    <br />

    <div class="d-flex justify-content-between">
        <div class="text-center">
            <h2 class="text-primary">16:00 - 24:00</h2>
            <p>Вт, Ср, Чт, Пт</p>
        </div>
        <div class="text-center">
            <h2 class="text-primary">14:00 - 24:00</h2>
            <p>Сб, Вс</p>
        </div>
        <div class="text-center">
            <h2 class="text-primary">Понедельник</h2>
            <p>Выходной день</p>
        </div>
    </div>
</div>